{% extends "base.html" %} {% block title %}Display{% endblock %}
{% block content %} 
<h1 align="center">Users</h1>
<u1 class="list-group list-group-glush" id="users">
    <li class="list-group-item">{{ "Name" }} {{ "Id" }} {{ "Points" }}</li>
    {% for user in users %}
    <li class="list-group-item">{{ user.name }} {{ user.id }} {{ user.points }}</li>
    <button type="button" class="close" onClick="deleteUser({{ user.name }})">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endfor %}
</u1>

{% endblock %}